body {
    margin: 0;
    padding: 0;
    background: linear-gradient(269deg, #FFCBCB 0%, #4255FF 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ollips {
    background: linear-gradient(270deg, #360A6B 0%, #A40F47 100%);
    margin: 0 auto;
    border-radius: 70% 10% / 10% 40%;
    width: 750px;
    height: 500px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;

}
#cou {
    color: white;
    font-size: 200px;
}
button {
    border-radius: 20% 60% 50% 70%;
    width: 100px;
    height: 50px;
    background: linear-gradient(180deg, #FFCBCB 0%, #4255FF 100%);
    color: white;
    font-size: 25px;
    border: none;
}



