* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 14px 'Lato', sans-serif;
    font-weight: normal;
}
.h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}
.h4 {
    font-size: 18px;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
@media (max-width: 1110px) {
    .container {
        max-width: 960px;
    }
}
@media (max-width: 960px) {
    .container {
        width: 500px;
    }
}
@media (max-width: 500px) {
    .container {
        width: 360px;
    }
}
@media (max-width: 360px) {
    .container {
        width: 300px;
    }
}
.btn {
    display: inline-block;
    min-width: 160px;
    padding: 0 20px;
    line-height: 48px;
    border: 1px solid transparent;
    border-radius: 6px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    outline: none;
}
.btn.btn-white {
    background-color: #fff;
    border-color: #fff;
    color: #ED4C5C;
}

@media (max-width: 1110px) {
    .btn.btn-white {
        min-width: 150px;
        line-height: 42px;
    }
}

@media (max-width: 700px) {
    .btn.btn-white {
        min-width: 140px;
        line-height: 38px;
    }
}

@media (max-width: 500px) {
    .btn.btn-white{
        min-width: 130px;
        line-height: 36px;
    }
}

@media (max-width: 360px) {
    .btn.btn-white {
        min-width: 120px;
        line-height: 32px;
    }
}

.btn.btn-red {
    font-weight: 400;
    background-color: #ED4C5C;
    border-color: #ED4C5C;
    color: #fff;
}
.btn.btn-transparent {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
.btn.btn-h40 {
    line-height: 38px;
}
.btn.btn-w100 {
    min-width: 100px;
}

.but a {}

@media (max-width: 1110px) {
    .but a {
        min-width: 90px;
        line-height: 36px;
    }
}
@media (max-width: 700px) {
    .but a {
        min-width: 80px;
        line-height: 34px;
    }
}
@media (max-width: 500px) {
    .but a {
        min-width: 70px;
        line-height: 32px;
    }
}
@media (max-width: 360px) {
    .but a {
        min-width: 60px;
        line-height: 30px;
    }
}