*{
    font-family: sans-serif;
    width: 100%;
}

.wrapper {
    height: 50vh;
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.block {
    width: 30%;
    background-color: seagreen;
    border-radius: 10px 20px 18px 22px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#numbers {
    height: 50px;
    border: none;
    border-radius: 10px 20px 18px 22px;
}
.block2 {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 500px;
    background-color: khaki;
    border-radius: 10%;
    box-sizing: border-box;
    flex-shrink: 0;
    margin: 50px 18px;
}
input {
    width: 70%;
    margin-bottom: 30px;
    text-align: center;
}
.button {
    width: 300px;
    border: none;
    border-radius: 10px 20px 18px 22px;
    background-color: #242b2e;
    color: white;
    font-size: 50px;
    height: 220px;
}
.buttons {
    width: 100%;
    color: white;
    margin-top: 20px;
    background-color: crimson;

}
.buttons h2 {
    text-align: center;

}
.buttons button {
    width: 150px;
    margin-right: 20px;
}
.btn {
    display: flex;
    justify-content: center;
}
.btn button {
  height: 30px;
    border-radius: 10px;
}
.question {
    display: flex;

    width: 490px;
    margin: 20px auto 0;
}
.add input {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.add {
    flex-grow: 0;
    width: 175px;
}
.add button {
    display: block;
    margin: 0 auto 30px;
}
.delete {
    width: 170px;
    border: none;
}
.delete button {
    margin: 0 auto;
    display: block;
}
.del {
    width: 175px;
}
.del button {
    display: block;
    margin: 0 auto 30px;
}
.del input {
    width: 100%;
}